=== LIMPANDO E PADRONIZANDO OS DADOS ===
### Limpeza e padronização ideal para a automação funcionar corretamente

1. Padroniza os nomes dos clientes para formato título (Primeira Letra Maiúscula)
2. Remover colunas desnecessárias após o preenchimento
3. Remove espaços, parênteses e traços da coluna 'Celular' para padronizar os números
4. Converte a coluna "Data. Nascimento." para o tipo datetime.
Extrai o dia e o mês dessas datas, formatando-os como "dd/mm".
Cria uma nova coluna chamada "Aniversário" no DataFrame, contendo essas informações de dia e mês das datas de nascimento.
##### 5. Converte os valores da coluna "Celular" para strings (caso necessário) e adicionar o código de país "+55" no início de cada número de celular, garantindo que a coluna "Celular" esteja no formato correto para automação.

In [14]:
import pandas as pd

In [15]:
import time
from datetime import datetime

In [ ]:
df = pd.read_excel(r'exemplos_clientes.xlsx', index_col=0)

TRANSFORM

In [17]:
df['Celular'] = df['Celular'].fillna(df['Telefone'])

In [18]:
df['Nome'] = df['Nome'].str.title()

In [ ]:
df.drop('Telefone', axis=1, inplace=True)
df.drop('Cidade', axis=1, inplace=True)

In [22]:
df["Celular"] = df["Celular"].str.replace(r'[\s\-\(\)]', '', regex=True)

In [23]:
df["Celular"] = df["Celular"].astype(str).apply(lambda x: "'+55" + x)

In [24]:
df["Aniversário"] = pd.to_datetime(df["Dt. nasc."], dayfirst=True, errors="coerce").dt.strftime("%d/%m")

In [25]:
df["Dt. nasc."] = pd.to_datetime(df["Dt. nasc."], errors="coerce", dayfirst=True)

In [ ]:
df.to_excel("clientes.xlsx")

In [27]:
df

,Nome,Dt. nasc.,Aniversário,Celular
Nr. cliente,,,,
742-0,Jocimara C Da Silva Souza,1988-09-01,01/09,'+5544998005782
2008-7,Sandra Prestini Pedroso Dias,1974-09-01,01/09,'+5544999477890
3654-4,Rodrigo Henrique Paranho,2004-09-01,01/09,'+5544997020113
5755-0,Carla Cristina Gehlen,1980-09-01,01/09,'+5544999985797
737-5,Aparecida Galdino,1972-09-02,02/09,'+5544999837922
...,...,...,...,...
736-9,Roseli Dos Santos Cantu,1965-09-30,30/09,'+5544999567409
3062-7,Jose Carlos Da Silva,1959-09-30,30/09,'+5544999656835
4768-6,Claudineia Carletto,1994-09-30,30/09,'+5545998295906
5961-7,Adriana Maria De Souza,1971-09-30,30/09,'+5582999915180
6566-8,Graciele Terezinha Soder De Oliveira,1986-09-30,30/09,'+5544998242144

In [28]:
null_counts_celular = df['Celular'].isnull().sum()
null_counts_celular

0

In [29]:
hoje = datetime.today().strftime("%d/%m")

In [30]:
aniversariantes_hj = df[df["Dt. nasc."].dt.strftime("%d/%m") == hoje]

In [31]:
df

,Nome,Dt. nasc.,Aniversário,Celular
Nr. cliente,,,,
742-0,Jocimara C Da Silva Souza,1988-09-01,01/09,'+5544998005782
2008-7,Sandra Prestini Pedroso Dias,1974-09-01,01/09,'+5544999477890
3654-4,Rodrigo Henrique Paranho,2004-09-01,01/09,'+5544997020113
5755-0,Carla Cristina Gehlen,1980-09-01,01/09,'+5544999985797
737-5,Aparecida Galdino,1972-09-02,02/09,'+5544999837922
...,...,...,...,...
736-9,Roseli Dos Santos Cantu,1965-09-30,30/09,'+5544999567409
3062-7,Jose Carlos Da Silva,1959-09-30,30/09,'+5544999656835
4768-6,Claudineia Carletto,1994-09-30,30/09,'+5545998295906
5961-7,Adriana Maria De Souza,1971-09-30,30/09,'+5582999915180
6566-8,Graciele Terezinha Soder De Oliveira,1986-09-30,30/09,'+5544998242144